{% extends "layout.html" %}
{% block body %}
    <div><img class="pageimg" src="/static/{{ picture.imgpath }}" alt="{{ picture.id }}"></div>
    <form action="{{ url_for('doedit') }}"  method=post> 
      <dl>
        <input type="hidden" name="id" value="{{picture.id}}">
        <dt class="title">Title:
        <dd><input type=text size=30 name=title>
        <dt>Description:
        <dd><textarea name=description rows=5 cols=40></textarea>
        <dd><input type=submit value=Submit>
      </dl>
    </form>
{% endblock %}